<?xml version="1.0" ?>
<launch>
    <arg name="machine_name" default=""/>

    <!-- Gazebo & GUI Configuration -->
    <arg name="gazebo"      default="true"  doc="Should the gazebo simulation be launched? Use false in case if you want to include this file and launch gazebo yourself" />
    <arg name="headless"    default="false" doc="Should the gazebo GUI be launched?" />
    <arg name="paused"      default="false" doc="Should the simulation directly be stopped at 0s?" />
    <arg name="world"       default="worlds/empty.world" doc="Filename to a SDF World for gazebo to use" />

    <!-- Robot Customization -->
    <arg name="arm_id"      default="panda" doc="Name of the panda robot to spawn" />
    <arg name="x"           default="0"     doc="How far forward to place the base of the robot in [m]?" />
    <arg name="y"           default="0"     doc="How far leftwards to place the base of the robot in [m]?" />
    <arg name="z"           default="0"     doc="How far upwards to place the base of the robot in [m]?" />
    <arg name="roll"        default="0"     doc="How much to rotate the base of the robot around its X-axis in [rad]?" />
    <arg name="pitch"       default="0"     doc="How much to rotate the base of the robot around its Y-axis in [rad]?" />
    <arg name="yaw"         default="0"     doc="How much to rotate the base of the robot around its Z-axis in [rad]?" />
    <arg name="initial_joint_positions"
         doc="Initial joint configuration of the panda. Specify as a list of name/value pairs in form of '-J [name-of-joint] [value-in-rad]'. Default is a 90 degree bend in the elbow"
         default="-J $(arg arm_id)_joint1 0
                -J $(arg arm_id)_joint2 -1.015386
                -J $(arg arm_id)_joint3 0
                -J $(arg arm_id)_joint4 -2.274039
                -J $(arg arm_id)_joint5 0
                -J $(arg arm_id)_joint6 2.004453
                -J $(arg arm_id)_joint7 1.652467
                -J $(arg arm_id)_finger_joint1 0.001
                -J $(arg arm_id)_finger_joint2 0.001"/>

    <include file="$(find frankpiv_controller)/launch/gazebo_empty_world.launch" if="$(arg gazebo)">
        <arg name="world_name" value="$(arg world)"/>
        <!-- Always start in paused mode, and only unpause when spawning the model -->
        <arg name="paused" value="true"/>
        <arg name="gui" value="$(eval not arg('headless'))"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="machine_name" value="$(arg machine_name)"/>
<!--        <arg name="node_start_delay" value="$(arg node_start_delay)"/>-->
    </include>

    <param name="robot_description"
	    command="$(find xacro)/xacro $(find franka_description)/robots/panda/panda.urdf.xacro
                  gazebo:=true
                  hand:=false
                  arm_id:=$(arg arm_id)
                  xyz:='$(arg x) $(arg y) $(arg z)'
                  rpy:='$(arg roll) $(arg pitch) $(arg yaw)'">
    </param>

    <rosparam file="$(find franka_gazebo)/config/franka_hw_sim.yaml" subst_value="true" />
    <rosparam file="$(find franka_gazebo)/config/sim_controllers.yaml" subst_value="true" />

    <arg name="unpause" value="$(eval '' if arg('paused') else '-unpause')" />
    <node name="$(arg arm_id)_model_spawner"
          pkg="gazebo_ros"
          type="spawn_model"
          args="-param robot_description -urdf -model $(arg arm_id) $(arg unpause) $(arg initial_joint_positions)"/>
</launch>